
.message {
    color: inherit;
    border: 0;
    padding: 14px 20px 1px 20px;
    border-radius: 0;
    opacity: .9;
    margin-bottom: 16px;
}

.message.is--info {
    background-color: #c6e4ff;
    border-left: 4px solid #2a82d1;
}

